/*
Cultured - #F7F9F9

Opal - #BED8D4

Light - #D2FDFF

Azure X 11 Web color - #ECFDFD

Medium turqouise - #78D5D7

Baby blue - #63D2FF

Green blue Crayola - #2081C3

Oxford blue - #03254E

Tea Green - #C1D7AE

Plum web - #EB9FEF

*/
/*Global Css*/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #F7F9F9;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Roboto Mono', monospace;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Roboto Mono', monospace;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/*Hero image*/
.top-cloud {
  position: absolute;
  right: 350px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.pro {
  font-weight: normal;
}

/*Profile*/
.top-container {
  background-color: #ECFDFD;
  position: relative;
  padding-top: 100px;
}

.profile-img {
  width: 25%;
}

.intro {
  width: 30%;
  margin: auto;
}

/*Skills*/
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.recep-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/*
.code-skill-desc {
  clear: left;
}

.recep-skill-desc {
  clear: right;
}
*/
.middle-container {
  margin: 100px 0;
}

.added-container {
  width: 50%;
  margin: 100px auto 100px auto;
  position: relative;
  padding-top: 20px;
  text-align: left;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

/*Latest works*/
.third-container {
margin: 100px 0;

}
.projects{
text-align: center
}

.project-img-1 {
  width: 30%;
  float: left;
  margin-top: 0;
  clear: left;
}
.project-img-2 {
  width: 30%;
  float: right;
  margin-top: 0;
  clear: right;
}

.project-title-1 {
float: right;
margin-right: 40%;
padding: 0 auto 0 auto;
}

.project-title-2 {
  float: none;
  padding: auto 0 auto 0;
}

.projects-row-1 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.projects-row-2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.project-desc-1 {
  clear: left;
  display: inline-block;

}
.project-desc-2 {
  clear: right;
  display: inline-block;
}

/*contact*/
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

/*CTA Button*/
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 35px;
  line-height: 38px;
  color: #FFFFFF;
  font-family: 'Roboto Mono', monospace;
  width: 170px;
  font-size: 20px;
  font-weight: 100;
  padding: 5px 20px 5px 20px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #22BC4A);
  background-image: -moz-linear-gradient(top, #30E3CB, #22BC4A);
  background-image: -ms-linear-gradient(top, #30E3CB, #22BC4A);
  background-image: -o-linear-gradient(top, #30E3CB, #22BC4A);
  background-image: -webkit-gradient(to bottom, #30E3CB, #22BC4A);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  text-decoration: none;
}

/*Footer*/
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
